<div class="panel panel-default panel-patient">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">
        <h4 class="panel-title">{{ adminUser.givenName }} {{ adminUser.familyName }}</h4>
      </div>
      <div class="col-md-8 text-right">
        <ul class="list-inline">
          <li><label>Role:</label> <strong>{{ adminUser.role }}</strong></li>
          <li><label>Username:</label>  <strong>{{ adminUser.username }}</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td width="70%"><label>Organisation:</label>  <strong>{{ adminUser.organisation }}</strong></td>
          <td width="30%"><label>Email:</label> <strong>{{ adminUser.email }}</strong></td>
        </tr>
      </tbody>
  </table>
</div>
</div>
