$background-image-url: '../images/site-bg-stft.png';
$background-image-position: 80%;
$background-image-offset: 0;

$toolbar-background: #663398;

$tab-background: #028fc7;

$header-color: #333333;
$header2-color: #333333;
$header3-color: #333333;

$icon-chevron-color: #663398;
$icon-user-color: #663398;
$icon-main-nav-color: #01a99f;
$icon-patient-color: #01a99f;

$button-info-background: #01a99f;
$button-success-background: #01a99f;
$button-main-nav-background-hover: #e3f1f9;

$table-header-background: #01a99f;
$table-header-color: #ffffff;
$table-row-background-hover: #aae2df;

$form-header-background: #9966CB;
$form-header-color: #ffffff;

$panel-background: #9966CB;

$link-color-hover: #01a99f;

$rounded-connected-background: #aae2df;
$rounded-connected-border: #01a99f;

$modal-title-background: #9966CB;

$patient-label-color: #333333;
